# Binaries
**/bin/
!vendor/bin
!Jasmine/vendor/mono/bin
!Jasmine/vendor/assimp/bin
bin-int/
obj/
Jasmine/vendor/VulkanSDK

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj